# Server
NODE_ENV=production
PORT=3000
BASE_PATH=/zalo

# MongoDB
MONGODB_URI=mongodb://localhost:27017/zalo-bot

# Zalo Bot
ZALO_TOKEN=your_zalo_token_here
ZALO_WEBHOOK_URL=https://bot.annk.info/zalo/api/zalo/webhook
ZALO_SECRET_TOKEN=your_secret_token_here
ZALO_POLLING=false
ALLOWED_REPORT_USERS=f1f2ba5e221dcb43920c
BASE_URL=https://bot.annk.info/zalo
REMINDER_API_URL=https://bot.annk.info/zalo/api/reminder

# CORS
ALLOWED_ORIGINS=https://bot.annk.info,http://localhost:3000
